.header {
    margin-bottom: 30px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        background-color: rgba(#ccc, 0.2);
        padding: 0 15px;
        border-radius: 10px;
    }

    &__logo {
        img {
            width: 90px;
            height: 50px;
            object-fit: cover;
        }
    }

    nav {
        ul {
            display: flex;

            li {
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }

            a {
                display: block;
                font-weight: 500;
                font-size: 18px;
                color: #000;
                text-transform: uppercase;
                transition: color 0.2s linear;

                @media (any-hover: hover) {
                    &:hover {
                        color: rgba(#000, 0.7);
                    }
                }
            }
        }
    }
}
